:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: #213547;
  color: #747bff;
  color: #213547;
  background-color: #f9f9f9;
  background-color: #242424;

  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: hsla(0, 0%, 100%, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  /* drop-shadow(0 0 2em #646cffaa); */
  /* drop-shadow(0 0 2em #61dafbaa); */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
